Repository radixdlt/sargon, pull requests merged in 2024-11, with the labels that each got.

#253 Fix kt manifest summary. Improve kt coverage
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NetworkMethodSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkMethodTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SubintentHashTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SubintentManifestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SubintentTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestV2Test.kt
Labels: Kotlin 🤖

#271 Add isDeleted for EntityBaseProtocol
  Cargo.lock
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/Utils/EntityProtocolTest.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Labels: Swift 🍏

#273 [ABW-3037] Move proof of ownership data models from unauthorized request to authorized request
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/fixtures/vector/wallet_interactions_wallet_to_dapp.json
  crates/sargon/src/radix_connect/mobile/deep_link_parsing/parser.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  crates/sargon/tests/vectors/main.rs
Labels: Rust 🦀, UniFFI 🦄

#281 Expose `askForBiometrics()` to host
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Labels: Kotlin 🤖
