Repository radixdlt/sargon, pull requests merged in 2024-05, with the labels that each got.

#120 Extensions for `EntropyNBytes`
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BagOfBytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy16Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy20Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy24Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy28Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy32Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Mnemonic.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NotaryPrivateKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy16BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy20BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy24BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy28BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy32BytesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkAntennaTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotaryPrivateKeyTest.kt
  src/core/types/keys/ed25519/public_key.rs
  src/core/types/secret_bytes.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature_uniffi_fn.rs
Labels: Rust 🦀, Kotlin 🤖, UniFFI 🦄

#124 Make well known gateways identified
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Gateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/OtherGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Gateway+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/SavedGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/Gateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/OtherGateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/SavedGateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Gateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Gateway/SavedGateways+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/GatewaysTests.swift
  apple/Tests/TestCases/Profile/Gateways/SavedGatewaysTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateway.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/OtherGateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SavedGateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/GatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/OtherGatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SavedGatewaysSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/OtherGatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SavedGatewaysTest.kt
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/profile/v100/app_preferences/gateways/gateway_uniffi_fn.rs
  src/profile/v100/app_preferences/gateways/mod.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
  src/profile/v100/app_preferences/gateways/saved_gateways_uniffi_fn.rs
Labels: Swift 🍏, Rust 🦀, Kotlin 🤖, UniFFI 🦄

#129 Implement kotlin `IdentifiableArray` impl
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetsExceptionList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorisedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorizedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DepositorsAllowList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/EntityFlags.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateway.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentifiedArray.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Networks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ProfileEntity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ProfileNetworks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ReferencesToAuthorizedPersonas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SavedGateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SupportedCurves.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccountsSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AssetsExceptionListSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AuthorisedDappsSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DepositorsAllowListSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/EntityFlagSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/EntityFlagsSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FactorSourceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FactorSourcesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/OtherGatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinksSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonasSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworkSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworksSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ReferencesToAuthorizedPersonasSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SupportedCurvesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AssetsExceptionListTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AuthorizedDappsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DepositorsAllowListTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/EntityFlagsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IdentifiedArrayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/OnLedgerSettingsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileEntityTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileNetworksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ReferencesToAuthorizedPersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SavedGatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SupportedCurvesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ThirdPartyDepositsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
  uniffi.toml
Labels: Kotlin 🤖, UniFFI 🦄

#128 Update notary private key implementation
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Curve25519SecretKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NotaryPrivateKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Exactly32BytesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Curve25519SecretKeyTest.kt
  src/core/types/keys/ed25519/public_key.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature_uniffi_fn.rs
Labels: Rust 🦀, Kotlin 🤖, UniFFI 🦄

#134 Decimal192 string parsing and representing in text fields
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Labels: Kotlin 🤖

#136 Add P2PLink and LinkConnectionQrData extensions
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LinkConnectionQrData.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2pLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/LinkConnectionQrDataSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/LinkConnectionQrDataTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinkTest.kt
Labels: Kotlin 🤖

#148 Add percentage to TransactionGuarantee
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction_guarantee.rs
Labels: Rust 🦀
